
#google {
    margin-left: 400px;
    margin-top: 76px;
    width: 287px;
    height: 64px;
}

#googleimg {
    width: 293px;
    margin-left: -11px;
    margin-top: -6px;

}
#fb{

    margin-left: 294px;
    margin-top: 76px;
    width: 287px;
    height: 44px;
}
#fbimg{

    width: 293px;
    margin-left: -11px;
    margin-top: -6px;
}